.Toolbar {
  height: 560px;
  width: 100%;
  position: fixed;
  top: 500;
  left: 0;
  background-color: #041263;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  color: white;
  font-size: 20px;
}

.Content {
  color: green;
}
